<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="oracleConnectionSettings" type="Microsoft.Practices.EnterpriseLibrary.Data.Oracle.Configuration.OracleConnectionSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <sectionGroup name="elmah">
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah"/>
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
    </sectionGroup>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
    </sectionGroup>
  </configSections>
  <dataConfiguration defaultDatabase="cnBaseDatos"/>
  <oracleConnectionSettings>
    <add name="Oracle Connection">
      <packages>
        <add prefix="pk_" name="Oracle Package"/>
      </packages>
    </add>
  </oracleConnectionSettings>
  <appSettings>
    <add key="UltimoArchivoParametros" value="250"/>
    <add key="Fecha" value="dd/MM/yyyy"/>
    <add key="FechaGrilla" value="{0:dd/MM/yyyy}"/>
    <add key="UsaWSEntidadesExternas" value="false"/>
    <add key="Correo" value="^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"/>
    <add key="PathArchivosDeclaracion" value="C:/Archivos/"/>
    <add key="PathArchivosRadicacion" value="C:/Archivos/Radicacion/"/>
    <add key="PathArchivosActosAdmin" value="C:/Archivos/ActosAdmin/" />
    <add key="PathReporteCourier" value="C:/Archivos/ReporteCourier/" />
    <add key="PathArchivosCorrecciones" value="C:/Archivos/Correcciones/" />
    <add key="PathArchivosNotificaciones" value="C:/Archivos/Notificaciones/" />
    <add key="PathArchivosPersonasAgregadasValoracion" value="C:/Archivos/AgregadasValoracion/" />
    <add key="UsuarioJuridica" value="Marxia B." />
    <add key="UsuarioTecnica" value="Amparo S." />
    <add key="FechaCambioFormato" value="02/07/2012" />
    <add key ="PlazoPlanA" value="5"/>
    <add key ="PlazoPlanB" value="10"/>
    <add key ="RutaLogs" value="C:/Logs\"/>
    <add key ="EscribirEnLog" value="si"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="cnBaseDatos" connectionString="Data Source=OIMQC;User Id=RUV;Password=RUV;" providerName="System.Data.OracleClient" />-->
    <add name="cnBaseDatos" connectionString="Data Source=PREPRODUC;User Id=RUVDESARROLLO; Password=Ac654321;" providerName="System.Data.OracleClient"/>
    <!--<add name="cnBaseDatos" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 172.20.200.52)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME = PREPRODUC)));User Id=ruvdesarrollo;Password=Ac654321;" providerName="System.Data.OracleClient" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler"/>
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler"/>
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      <add name="Elmah" path="elmah.axd" verb="POST,GET,HEAD" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode"/>
    </handlers>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.serviceModel>
    <client/>
    <bindings>
      <ws2007HttpBinding>
        <binding name="EnlaceLogin" maxBufferPoolSize="25000000" maxReceivedMessageSize="25000000">
          <readerQuotas maxDepth="25000000" maxStringContentLength="25000000" maxArrayLength="25000000" maxBytesPerRead="25000000" maxNameTableCharCount="25000000"/>
          <security mode="None"/>
        </binding>
        <binding name="EnlaceGeneral" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Mtom">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None"/>
        </binding>
        <binding name="EnlaceValoracion" maxBufferPoolSize="25000000" maxReceivedMessageSize="25000000">
          <readerQuotas maxDepth="25000000" maxStringContentLength="25000000" maxArrayLength="25000000" maxBytesPerRead="25000000" maxNameTableCharCount="25000000"/>
          <security mode="None"/>
        </binding>
        <binding name="EnlaceControlDocumentos" maxBufferPoolSize="25000000" maxReceivedMessageSize="25000000">
          <readerQuotas maxDepth="25000000" maxStringContentLength="25000000" maxArrayLength="25000000" maxBytesPerRead="25000000" maxNameTableCharCount="25000000"/>
          <security mode="None"/>
        </binding>
        <binding name="EnlacePdfHelper" maxBufferPoolSize="25000000" maxReceivedMessageSize="25000000" messageEncoding="Mtom">
          <readerQuotas maxDepth="25000000" maxStringContentLength="25000000" maxArrayLength="25000000" maxBytesPerRead="25000000" maxNameTableCharCount="25000000"/>
          <security mode="None"/>
        </binding>
        <binding name="EnlaceCriticaN" maxBufferPoolSize="25000000" maxReceivedMessageSize="25000000" messageEncoding="Mtom">
          <readerQuotas maxDepth="25000000" maxStringContentLength="25000000" maxArrayLength="25000000" maxBytesPerRead="25000000" maxNameTableCharCount="25000000"/>
          <security mode="None"/>
        </binding>
        <binding name="EnlaceRadicacion" maxBufferPoolSize="25000000" maxReceivedMessageSize="25000000" messageEncoding="Mtom">
          <readerQuotas maxDepth="25000000" maxStringContentLength="25000000" maxArrayLength="25000000" maxBytesPerRead="25000000" maxNameTableCharCount="25000000"/>
          <security mode="None"/>
        </binding>
        <binding name="EnlaceDevolucion" maxBufferPoolSize="25000000" maxReceivedMessageSize="25000000" messageEncoding="Mtom">
          <readerQuotas maxDepth="25000000" maxStringContentLength="25000000" maxArrayLength="25000000" maxBytesPerRead="25000000" maxNameTableCharCount="25000000"/>
          <security mode="None"/>
        </binding>
        <binding name="EnlaceGestionValorador" maxBufferPoolSize="25000000" maxReceivedMessageSize="25000000" messageEncoding="Mtom">
          <readerQuotas maxDepth="25000000" maxStringContentLength="25000000" maxArrayLength="25000000" maxBytesPerRead="25000000" maxNameTableCharCount="25000000"/>
          <security mode="None"/>
        </binding>
        <binding name="EnlaceCargaDatosValoracion" maxBufferPoolSize="25000000" maxReceivedMessageSize="25000000">
          <readerQuotas maxDepth="25000000" maxStringContentLength="25000000" maxArrayLength="25000000" maxBytesPerRead="25000000" maxNameTableCharCount="25000000"/>
          <security mode="None"/>
        </binding>
        <binding name="EnlaceOptimizacion" maxBufferPoolSize="25000000" maxReceivedMessageSize="25000000">
          <readerQuotas maxDepth="25000000" maxStringContentLength="25000000" maxArrayLength="25000000" maxBytesPerRead="25000000" maxNameTableCharCount="25000000"/>
          <security mode="None"/>
        </binding>		
      </ws2007HttpBinding>
      <webHttpBinding>
        <binding name="webHttpTransportSecurity">
          <security mode="Transport">
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ComportamientoGeneral" name="GeneralService">
        <endpoint address="" binding="ws2007HttpBinding" bindingConfiguration="EnlaceGeneral" name="ExtremoGeneral" contract="IGeneralService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IGeneralService"/>
      </service>
      <service behaviorConfiguration="ComportamientoLogin" name="LoginService">
        <endpoint address="" binding="ws2007HttpBinding" bindingConfiguration="EnlaceLogin" name="ExtremoLogin" contract="ILoginService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="ILoginService"/>
      </service>
      <service behaviorConfiguration="ComportamientoValoracion" name="ValoracionService">
        <endpoint address="" binding="ws2007HttpBinding" bindingConfiguration="EnlaceValoracion" name="ExtremoValoracion" contract="IValoracionService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IValoracionService"/>
      </service>
      <service behaviorConfiguration="ComportamientoControlDocumentos" name="ControlDocumentosService">
        <endpoint address="" binding="ws2007HttpBinding" bindingConfiguration="EnlaceControlDocumentos" name="ExtremoControlDocumentos" contract="IControlDocumentosService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IControlDocumentosService"/>
      </service>
      <service behaviorConfiguration="ComportamientoPdfHelper" name="PdfHelperService">
        <endpoint address="" binding="ws2007HttpBinding" bindingConfiguration="EnlacePdfHelper" name="ExtremoPdfHelper" contract="IPdfHelperService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IPdfHelperService"/>
      </service>
      <service behaviorConfiguration="ComportamientoCriticaN" name="CriticaNService">
        <endpoint address="" binding="ws2007HttpBinding" bindingConfiguration="EnlaceCriticaN" name="ExtremoCriticaN" contract="ICriticaNService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="ICriticaNService"/>
      </service>
      <service behaviorConfiguration="ComportamientoRadicacion" name="RadicacionService">
        <endpoint name="ExtremoRadicacion" address="" binding="ws2007HttpBinding" bindingConfiguration="EnlaceRadicacion" contract="IRadicacionService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IRadicacionService"/>
      </service>
      <service behaviorConfiguration="ComportamientoDevolucion" name="DevolucionService">
        <endpoint name="ExtremoDevolucion" address="" binding="ws2007HttpBinding" bindingConfiguration="EnlaceDevolucion" contract="IDevolucionService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IDevolucionService"/>
      </service>
      <service behaviorConfiguration="ComportamientoGestionValorador" name="GestionValoradorService">
        <endpoint name="ExtremoGestionValorador" address="" binding="ws2007HttpBinding" bindingConfiguration="EnlaceGestionValorador" contract="IGestionValoradorService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IGestionValoradorService"/>
      </service>
      <service behaviorConfiguration="ComportamientoCargaDatosValoracion" name="CargaDatosValoracionService">
        <endpoint address="" binding="ws2007HttpBinding" bindingConfiguration="EnlaceCargaDatosValoracion" name="ExtremoCargaDatosValoracion" contract="ICargaDatosValoracionService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="ICargaDatosValoracionService"/>
      </service>		
      <service behaviorConfiguration="ComportamientoOptimizacion" name="OptimizationService">
        <endpoint address="" binding="ws2007HttpBinding" bindingConfiguration="EnlaceOptimizacion" name="ExtremoOptimizacion" contract="Ruv.Web.Services.DataContracts.IOptimizationService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="Ruv.Web.Services.DataContracts.IOptimizationService"/>
      </service>
      <service behaviorConfiguration="SecureRESTSvcTestBehavior" name="ServiciosComunicacion.ServicioComunicacion">
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:36649/ServiciosComunicacion/"/>
          </baseAddresses>
        </host>
        <!--webHttpBinding allows exposing service methods in a RESTful manner-->
        <endpoint address="rest" binding="webHttpBinding" bindingConfiguration="webHttpTransportSecurity" behaviorConfiguration="webHttpBehaviorEndpointBehavior" contract="ServiciosComunicacion.IServicioComunicacion"/>
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ComportamientoGeneral">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="ComportamientoLogin">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="ComportamientoValoracion">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="ComportamientoControlDocumentos">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="ComportamientoPdfHelper">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="ComportamientoCriticaN">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="ComportamientoRadicacion">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="ComportamientoDevolucion">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="ComportamientoGestionValorador">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="ComportamientoCargaDatosValoracion">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="ComportamientoOptimizacion">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SecureRESTSvcTestBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webHttpBehaviorEndpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="1000000" />
          <webHttp defaultOutgoingResponseFormat="Json"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add relativeAddress="GeneralService.svc" service="GeneralService"/>
        <add relativeAddress="LoginService.svc" service="LoginService"/>
        <add relativeAddress="ValoracionService.svc" service="ValoracionService"/>
        <add relativeAddress="ControlDocumentosService.svc" service="ControlDocumentosService"/>
        <add relativeAddress="PdfHelperService.svc" service="PdfHelperService"/>
        <add relativeAddress="RadicacionService.svc" service="RadicacionService"/>
        <add relativeAddress="DevolucionService.svc" service="DevolucionService"/>
        <add relativeAddress="GestionValoradorService.svc" service="GestionValoradorService"/>
        <add relativeAddress="CargaDatosValoracionService.svc" service="CargaDatosValoracionService"/>
        <add relativeAddress="OptimizationService.svc" service="Ruv.Web.Services.OptimizationService"/>
      </serviceActivations>
    </serviceHostingEnvironment>
    <standardEndpoints>
      <webScriptEndpoint>
        <standardEndpoint name="" crossDomainScriptAccessEnabled="true"/>
      </webScriptEndpoint>
    </standardEndpoints>
  </system.serviceModel>
  <elmah>
    <security allowRemoteAccess="1"/>
    <!--<errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/App_Data" />-->
    <!--<errorMail
            from="cneira8@hotmail.com"
            to="cneira@hotmail.com"
            subject="Error DPS"
            priority="High"
            async="true"
            smtpPort="25"
            smtpServer="smtp.live.com"
            useSsl="true"
            userName="cneira8@hotmail.com"
            password="**"
            noYsod="false" />-->
  </elmah>
  <spring>
    <context name="RuvObjects">
      <resource uri="file://~/ObjetosRuv.xml"/>
    </context>
  </spring>
  <system.net>
    <mailSettings>
      <smtp from="cristian.neira@colvista.com.co" deliveryMethod="Network">
        <network host="smtp.colvista.com.co" enableSsl="false" password="Cristian2012*" userName="cristian.neira@colvista.com.co" port="25"/>
      </smtp>
    </mailSettings>
  </system.net>
  <!-- Configuración sitio Web -->
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" validate="false"/>
    </httpHandlers>
    <pages theme="RUVTheme" enableEventValidation="false">
      <controls>
        <add tagPrefix="ruv" tagName="MenuAcciones" src="~/Utilidades/Controles/MenuAcciones.ascx"/>
        <add tagPrefix="ruv" tagName="MenuPrincipal" src="~/Utilidades/Controles/PrincipalMenu.ascx"/>
        <add tagPrefix="ruv" tagName="TextBox" src="~/Utilidades/Controles/ruvTextBox.ascx"/>
        <add tagPrefix="ruv" tagName="ModalPopUp" src="~/Utilidades/Controles/ruvModalPopUp.ascx"/>
        <add tagPrefix="ruv" tagName="DropDownList" src="~/Utilidades/Controles/ruvDropDownList.ascx"/>
        <add tagPrefix="ruv" tagName="TextCalendar" src="~/Utilidades/Controles/ruvTextCalendar.ascx"/>
        <add tagPrefix="ruv" tagName="CheckBoxList" src="~/Utilidades/Controles/ruvCheckBoxList.ascx"/>
        <add tagPrefix="ruv" tagName="ListBox" src="~/Utilidades/Controles/ruvListBox.ascx"/>
        <add tagPrefix="ruv" tagName="Arbol" src="~/Utilidades/Controles/ruvArbol.ascx"/>
        <add tagPrefix="ruv" tagName="Filtros" src="~/Utilidades/Controles/ruvFiltros.ascx"/>
        <add tagPrefix="ruv" tagName="ListaDeTareas" src="~/ListaTareas/UCListaTareas.ascx"/>
        <add tagPrefix="ruv" tagName="Geografia" src="~/Utilidades/Controles/ruvGeografia.ascx"/>
        <add tagPrefix="ruv" tagName="Herramientas" src="~/Valoracion/Valoracion/Controles/Herramientas.ascx"/>
        <add tagPrefix="ruv" tagName="Validaciones" src="~/Valoracion/Valoracion/Controles/Validaciones.ascx"/>
        <add tagPrefix="ruv" tagName="HechoVictimizante" src="~/Valoracion/Valoracion/Controles/HechoVictimizante.ascx"/>
        <add tagPrefix="ruv" tagName="ValoresAA" src="~/Valoracion/Valoracion/Controles/CamposActoAdministrativo.ascx"/>
        <add tagPrefix="ruv" tagName="ValorarPersona" src="~/Valoracion/Valoracion/Controles/ValorarPersona.ascx"/>
        <add tagPrefix="ruv" tagName="ConsultaAdmin" src="~/Consultas/WebUserControl/WebUserControlConsulta.ascx"/>
        <add tagPrefix="ruv" tagName="PuntosNotificacion" src="~/Valoracion/Valoracion/Controles/PuntosNotificacion.ascx"/>
        <add tagPrefix="ruv" tagName="PersonasAsociadasDeclaracion" src="~/Valoracion/Valoracion/Controles/PersonasAsociadasVal.ascx"/>
        <add tagPrefix="ruv" tagName="EdicionDireccionCorrespondencia" src="~/Utilidades/Controles/Notificacion/ruvEdicionDireccionCorrespondencia.ascx"/>
        <add tagPrefix="ruv" tagName="EdicionPuntoNotificacion" src="~/Utilidades/Controles/Notificacion/ruvEdicionPuntoNotificacion.ascx"/>
        <add assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagPrefix="ajax"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" namespace="Microsoft.Reporting.WebForms" tagPrefix="rsweb"/>
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" requireSSL="false" protection="All" cookieless="UseDeviceProfile" timeout="120" defaultUrl="Default.aspx"/>
    </authentication>
    <sessionState mode="InProc" timeout="120" />
    <customErrors mode="On" defaultRedirect="~/Error.aspx"/>
    <!--<customErrors mode="RemoteOnly" />-->
    <httpRuntime requestValidationMode="2.0" maxRequestLength="25000"/>
    <httpModules>
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah"/>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah"/> 
    </httpModules>
  </system.web>
  <system.webServer>
    <!-- Modificar el tamaño recibido del servidor -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="524288000"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.diagnostics>
    <!-- This logging is great when WCF does not work. -->    
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData= "c:\traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
 
</configuration>
