<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<system.serviceModel>
		<client>
			<endpoint address="https://ruvpruebas.unidadvictimas.gov.co/RadicacionService.svc"
			  binding="wsHttpBinding" bindingConfiguration="ExtremoRadicacion"
			  contract="RadicacionServiceReference.IRadicacionService" name="ExtremoRadicacion" xdt:Transform="Replace" xdt:Locator="Match(name)" />
			<endpoint address="https://ruvpruebas.unidadvictimas.gov.co/RadicacionService.svc/mex"
			  binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IRadicacionService"
			  contract="RadicacionServiceReference.IRadicacionService" name="MetadataExchangeHttpBinding_IRadicacionService" xdt:Transform="Replace" xdt:Locator="Match(name)" />
			<endpoint address="https://ruvpruebas.unidadvictimas.gov.co/CriticaNService.svc"
			  binding="wsHttpBinding" bindingConfiguration="ExtremoCriticaN"
			  contract="CriticaNServiceReference.ICriticaNService" name="ExtremoCriticaN" xdt:Transform="Replace" xdt:Locator="Match(name)" />
			<endpoint address="https://ruvpruebas.unidadvictimas.gov.co/CriticaNService.svc/mex"
			  binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_ICriticaNService"
			  contract="CriticaNServiceReference.ICriticaNService" name="MetadataExchangeHttpBinding_ICriticaNService" xdt:Transform="Replace" xdt:Locator="Match(name)" />
			<endpoint address="https://ruvpruebas.unidadvictimas.gov.co/DevolucionService.svc"
			  binding="wsHttpBinding" bindingConfiguration="ExtremoDevolucion"
			  contract="DevolucionServiceReference.IDevolucionService" name="ExtremoDevolucion" xdt:Transform="Replace" xdt:Locator="Match(name)" />
			<endpoint address="https://ruvpruebas.unidadvictimas.gov.co/DevolucionService.svc/mex"
			  binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IDevolucionService"
			  contract="DevolucionServiceReference.IDevolucionService" name="MetadataExchangeHttpBinding_IDevolucionService" xdt:Transform="Replace" xdt:Locator="Match(name)" />
			<endpoint address="https://ruvpruebas.unidadvictimas.gov.co/LoginService.svc"
			  binding="wsHttpBinding" bindingConfiguration="ExtremoLogin"
			  contract="LoginService.ILoginService" name="ExtremoLogin" xdt:Transform="Replace" xdt:Locator="Match(name)" />
			<endpoint address="https://ruvpruebas.unidadvictimas.gov.co/PdfHelperService.svc"
			  binding="wsHttpBinding" bindingConfiguration="ExtremoPdfHelper1"
			  contract="PdfHelperServiceReference.IPdfHelperService" name="ExtremoPdfHelper" xdt:Transform="Replace" xdt:Locator="Match(name)" />
			<endpoint address="https://ruvpruebas.unidadvictimas.gov.co/PdfHelperService.svc/mex"
			  binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IPdfHelperService1"
			  contract="PdfHelperServiceReference.IPdfHelperService" name="MetadataExchangeHttpBinding_IPdfHelperService" xdt:Transform="Replace" xdt:Locator="Match(name)" />
			<endpoint address="https://ruvpruebas.unidadvictimas.gov.co/ControlDocumentosService.svc"
			  binding="wsHttpBinding" bindingConfiguration="ExtremoControlDocumentos"
			  contract="ControlDocumentosService.IControlDocumentosService"
			  name="ExtremoControlDocumentos" xdt:Transform="Replace" xdt:Locator="Match(name)" />
			<endpoint address="https://ruvpruebas.unidadvictimas.gov.co/ControlDocumentosService.svc/mex"
			  binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IControlDocumentosService"
			  contract="ControlDocumentosService.IControlDocumentosService"
			  name="MetadataExchangeHttpBinding_IControlDocumentosService" xdt:Transform="Replace" xdt:Locator="Match(name)" />
			<endpoint address="c" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IComunicacionSiravRuv"
			  contract="WSComunicacionSiravRuv.IComunicacionSiravRuv" name="BasicHttpBinding_IComunicacionSiravRuv" xdt:Transform="Replace" xdt:Locator="Match(name)" />
			<endpoint address="https://serverapp-asd.uarivgasd.int/ComRuvSirav/ComunicacionSiravRuv.svc"
			  binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IComunicacionSiravRuv"
			  contract="WSComunicacionSiravRuv.IComunicacionSiravRuv" name="BasicHttpsBinding_IComunicacionSiravRuv" xdt:Transform="Replace" xdt:Locator="Match(name)" />
			<endpoint address="http://172.20.210.208/SERVICIOS/WcfGestionDocumental/ServicioGestorDocumental.svc"
			  binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioGestorDocumental1"
			  contract="FachadaGestorDocumental.IServicioGestorDocumental"
			  name="BasicHttpBinding_IServicioGestorDocumental1" xdt:Transform="Replace" xdt:Locator="Match(name)" />
			<endpoint address="http://172.20.210.208/SERVICIOS/WcfGestionDocumental/ServicioGestorDocumental.svc/MyAddress2"
			  binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioGestorDocumental_Php"
			  contract="FachadaGestorDocumental.IServicioGestorDocumental"
			  name="BasicHttpBinding_IServicioGestorDocumental_Php" xdt:Transform="Replace" xdt:Locator="Match(name)" />
			<endpoint address="https://ruvpruebas.unidadvictimas.gov.co/GeneralService.svc"
			  binding="wsHttpBinding" bindingConfiguration="ExtremoGeneral"
			  contract="GeneralService.IGeneralService" name="ExtremoGeneral" xdt:Transform="Replace" xdt:Locator="Match(name)" />
			<endpoint address="https://ruvpruebas.unidadvictimas.gov.co/GeneralService.svc/mex"
			  binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IGeneralService"
			  contract="GeneralService.IGeneralService" name="MetadataExchangeHttpBinding_IGeneralService" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		</client>
	</system.serviceModel>
	<applicationSettings>
		<Ruv.WPF.Captura.Properties.Settings>
			<setting name="ModoEjecucion" serializeAs="String">
				<value xdt:Transform="Replace">1</value>
			</setting>
			<setting name="UrlRestablecimiento" serializeAs="String" >
				<value xdt:Transform="Replace">http://adminruvpruebas.unidadvictimas.gov.co/Security/Restablecer/SolicitarCambio</value>
			</setting>
		</Ruv.WPF.Captura.Properties.Settings>
	</applicationSettings>
</configuration>